table{
    border: 2px solid black;
    width: 600px;
    height:300px;
}
div{
    border: 2px solid black;
    width: 600px;
    height:100px;
    margin: 20px;
    padding: 20px;
}
button{
    margin: 20px;
}
form{
    width:700px;
}